{% extends 'cabinet_layout/base.html' %}

{% load static %}

{% block title %}Сводка - {{flat.floor.section.house}}, кв.{{flat.number}}{% endblock title %}

{% block main_content %}
    <div class="container-fluid">
        <section class="content-header d-flex">
            <h1 class="ml-3">Сводка - {{flat.floor.section.house}}, кв.{{flat.number}}</h1>
        </section>
        <div class="dropdown-divider"></div>
        <section class="content">
            <div class="row">
                <div class="col-md-4">
                    {% if flat.balance >= 0 %}
                        <div class="small-box bg-success">
                    {% else %}
                        <div class="small-box bg-danger">
                    {% endif %}
                        <div class="inner">
                            <h3>{{flat.balance|stringformat:".2f"}} грн ({{flat.indebtedness|stringformat:".2f"}} грн. долг)</h3>
                            <p>Баланс по квартире</p>
                        </div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{flat.flat_personal_account|default_if_none:"нету лицевого счета"}}</h3>
                            <p>Лицевой счет</p>
                        </div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{flat.avg_spending|stringformat:".2f"}} грн</h3>
                            <p>Средний расход за месяц</p>
                        </div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-pie-chart-fill" viewBox="0 0 16 16">
                                <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card mx-2 w-100">
                    <div class="card-header"><h5>Диаграмма расходов</h5></div>
                    <div class="card-body"><p>Недостаточно данных для отображения статистики</p></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card mx-2 w-100">
                    <div class="card-header"><h5>Диаграмма расходов по месяцам за год</h5></div>
                    <div class="card-body"><p>Недостаточно данных для отображения статистики</p></div>
                </div>
            </div>
        </section>
    </div>
{% endblock main_content %}