{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Редактирование услуг{% endblock title %}


{% block settings %}bg-light{% endblock settings %}
{% block services %}text-dark{% endblock services %}

{% block main_content %}
<div class="container-fluid">
    <section class="content-header d-flex justify-content-between">
        <h1>Редактирование услуг</h1>
    </section>
    <div class="dropdown-divider"></div>
    <section class="content">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="nav_service" href="#tab_service">Услуги</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="nav_unit" href="#tab_unit">Единицы измерения</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab_service" role="tabpanel">
                                    {% include 'settings/services_unit/service_view.html' %}
                                </div>
                                <div class="tab-pane fade" id="tab_unit" role="tabpanel">
                                    {% include 'settings/services_unit/unit_view.html' %}
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row d-flex justify-content-end">
                                <a href="{% url 'myhouse_admin:payment_details' %}" class="btn btn-default">Отменить</a>
                                <button class="btn btn-success ml-1 mr-5" type="submit">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'js/admin/settings/service_unit.js' %}" type="module"></script>
{% endblock extra_js %}