{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Дома{% endblock title %}

{% block houses %}bg-light{% endblock houses %}

{% block main_content %}
<section class="content-header d-flex justify-content-between">
    <h1>Дома</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Дома</li>
        </ol>
    </nav>
</section>
<div class="dropdown-divider"></div>
<div class="content">
    <div class="row d-flex justify-content-end my-3 mr-3">
        <a href="{% url 'myhouse_admin:house_create' %}" class="btn btn-success">Добавить дом</a>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row d-flex justify-content-end mr-3">
                <a href="{% url 'myhouse_admin:house_list' %}" class="btn btn-default">Очистить</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            {% csrf_token %}
            <input type="hidden" id="id_filtered_name" value="{{filtered_name|default_if_none:"0"}}">
            <input type="hidden" id="id_filtered_address" value="{{filtered_address|default_if_none:"0"}}">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Адрес</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>{% render_field house_search_form.house_name_search_field class="form-control"%}</td>
                        <td>{% render_field house_search_form.house_address_search_field class="form-control" %}</td>
                        <td></td>
                    </tr>
                {% for house in houses %}
                    <tr data-href="{% url 'myhouse_admin:house_detail' house.pk %}">
                        <th scope="row">{{forloop.counter}}</td>
                        <td>{{house.name}}</td>
                        <td>{{house.address}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'myhouse_admin:house_update' house.pk %}" class="btn btn-default">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <button type="button" class="btn btn-default delete-house-button" delete-url="{% url 'myhouse_admin:house_delete' house.pk %}"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">Домов не обнаружено</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if houses %}
        <div class="card-footer">
            <div class="row"></div>
            <div class="row">
                Количество домов: <span><strong>{{houses.count}}</strong></span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'js/admin/houses/house_list.js' %}" type="module"></script>
{% endblock extra_js %}