{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Тариф: {{form.instance.name}}{% endblock title %}

{% block settings %}bg-light{% endblock settings %}
{% block tariffs %}text-dark{% endblock tariffs %}

{% block main_content %}
<div class="conteiner-fluid">
    <section class="content-header d-flex justify-content-between">
        <h1>Тариф: {{form.instance.name}}</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:tariff_list' %}" class="text-dark"><i class="fa fa-home"></i>Тарифы</a></li>
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:tariff_detail' form.instance.pk %}" class="text-dark"><i class="fa fa-home"></i>Тариф: {{form.instance.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
            </ol>
        </nav>
    </section>
    <div class="dropdown-divider"></div>
    <section class="content">
        <div class="card">
            <div class="card-body">
                {% include "settings/tariff/tariff_form.html" %}
            </div>
        </div>
    </section>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'js/admin/settings/tariff_create_update.js' %}" type="module"></script>
{% endblock extra_js %}