{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Заявки вызова мастера{% endblock title %}

{% block tickets %}bg-light{% endblock tickets %}

{% block main_content %}
<section class="content-header d-flex justify-content-between">
    <h1>Заявки вызова мастера</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Заявки вызова мастера</li>
        </ol>
    </nav>
</section>
<div class="dropdown-divider"></div>
<div class="content">
    <div class="row d-flex justify-content-end my-3 mr-3">
        <a href="{% url 'myhouse_admin:master_request_create' %}" class="btn btn-success">Добавить заявку</a>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row d-flex justify-content-end mr-3">
                <a href="{% url 'myhouse_admin:master_request_list' %}" class="btn btn-default">Очистить</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            {% csrf_token %}
            <table class="table table-bordered table-striped" id="id_ticket_table">
                <thead>
                    <tr>
                        <th>№ заявки</th>
                        <th>Удобное время</th>
                        <th>Тип мастера</th>
                        <th>Описание</th>
                        <th>Квартира</th>
                        <th>Владелец</th>
                        <th>Телефон</th>
                        <th>Мастер</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr data-href="{% url 'myhouse_admin:master_request_detail' ticket.pk %}">
                        <td>{{ticket.pk}}</td>
                        <td>{{ticket.convenient_time|date:"d.m.Y - H:i"}}</td>
                        <td>{{ticket.master_type|default_if_none:"Любой специалист"}}</td>
                        <td>{{ticket.description}}</td>
                        <td>
                            <a href="{% url 'myhouse_admin:flat_detail' ticket.flat.pk %}">кв.&nbsp;{{ticket.flat.to_string}}</a>
                        </td>
                        <td>
                            <a href="{% url 'myhouse_admin:owner_detail' ticket.flat.owner.pk %}">{{ticket.flat.owner}}</a>
                        </td>
                        <td>{{ticket.flat.owner.user.phone_number}}</td>
                        <td>
                            {% if ticket.master is not None %}
                                <a href="{% url 'myhouse_admin:worker_detail' ticket.master.pk %}">{{ticket.master}}</a>
                            {% else %}
                                (не задано)
                            {% endif %}
                        </td>
                        {% if ticket.status == '1' %}
                            <td><span class="badge badge-primary">{{ticket.get_status_display}}</span></td>
                        {% elif ticket.status == '2' %}
                            <td><span class="badge badge-warning">{{ticket.get_status_display}}</span></td>
                        {% elif ticket.status == '3' %}
                            <td><span class="badge badge-success">{{ticket.get_status_display}}</span></td>
                        {% endif %}
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'myhouse_admin:master_request_update' ticket.pk %}" class="btn btn-default">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <button type="button" class="btn btn-default delete-ticket-button" delete-url="{% url 'myhouse_admin:master_request_delete' ticket.pk %}"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="10">Нету данных</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/admin/tickets/ticket_list.js' %}" type="module"></script>
{% endblock extra_js %}