{% load static widget_tweaks %}
<section class="content">
    <form action="" method="POST" class="was-validated">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group g-3 mt-2 ml-2">
                    <div class="input-group date" id="convenientdate" data-target-input="nearest">
                        
                        {% render_field form.convenient_date class="form-control w-60 datetimepicker-input" data-target="#convenientdate" %}
                        <div class="input-group-append" data-target="#convenientdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 text-center mt-3">от</div>
            <div class="col-lg-3">
                <div class="form-group g-3 mt-2">
                    <div class="input-group date" id="convenienttime" data-target-input="nearest">
                        
                        {% render_field form.convenient_time class="form-control w-60 datetimepicker-input" data-target="#convenienttime" %}
                        <div class="input-group-append" data-target="#convenienttime" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ml-2 mr-2">
            <div class="card-body">
                {% for error_name, error in form.errors.items %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{error_name}}:{{ error|striptags }}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group g-3">
                            <label for="{{form.owner.auto_id}}" class="form-label">Владелец квартиры</label>
                            {% render_field form.owner class='form-control is-invalid' data-owner-flats-url=load_owner_flats_url %}
                        </div>
                        <div class="form-group g-3">
                            <label for="{{form.description.auto_id}}" class="form-label">Описание</label>
                            {% render_field form.description class='form-control is-invalid' rows="5"%}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if update %}
                            <p><strong>Дом:</strong> <a href="{% url 'myhouse_admin:house_detail' form.instance.flat.floor.section.house.pk %}" class="text-decoration-none">{{form.instance.flat.floor.section.house}}</a></p>
                            <p><strong>Секция:</strong> {{form.instance.flat.floor.section}}</p>
                            <p><strong>Этаж:</strong> {{form.instance.flat.floor}}</p>
                        {% endif %}
                        <div class="form-group g-3">
                            <label for="{{form.flat.auto_id}}" class="form-label">Квартира</label>
                            {% render_field form.flat class='form-control is-invalid'%}
                        </div>
                        <div class="form-group g-3">
                            <label for="{{form.master_type.auto_id}}" class="form-label">Тип мастера</label>
                            {% render_field form.master_type class='form-control is-invalid'%}
                        </div>
                        <div class="form-group g-3">
                            <label for="{{form.status.auto_id}}" class="form-label">Статус</label>
                            {% render_field form.status class='form-control is-invalid'%}
                        </div>
                        <div class="form-group g-3">
                            <label for="{{form.master.auto_id}}" class="form-label">Мастер</label>
                            {% render_field form.master class='form-control is-invalid'%}
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-end mr-2">
                    <a href="myhouse_admin:worker_list" class="btn btn-default mr-1">Отменить</a>
                    <button class="btn btn-success" type="submit">Сохранить</button>
                </div>
                <div class="row">
                    <div class="col-12">
                         <div class="form-group g-3">
                            <label for="{{form.comment.auto_id}}" class="form-label">Комментарий</label>
                            {% render_field form.comment class='form-control is-invalid' rows="5" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>