{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}{{title}}{% endblock title %}

{% block meters %}bg-light{% endblock meters %}

{% block main_content %}
<section class="content-header d-flex justify-content-between">
    <h1>{{title}}</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:meter_list' %}" class="text-dark">Счетчики</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
</section>
<div class="dropdown-divider"></div>
<div class="content">
    <div class="row d-flex justify-content-end my-3 mr-3">
        <a href="{% url 'myhouse_admin:meter_create' %}" class="btn btn-success">Добавить показания</a>
    </div>
    <div class="card mr-2 ml-2">
        <div class="card-header">
            <div class="row d-flex justify-content-end mr-3">
                <a href="{% url 'myhouse_admin:meter_list' %}" class="btn btn-default">Очистить</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            {% csrf_token %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Дата</th>
                        <th>Месяц</th>
                        <th>Дом</th>
                        <th>Секция</th>
                        <th>№ квартиры</th>
                        <th>Счетчик</th>
                        <th>Показания</th>
                        <th>Ед. изм.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% comment %} <td></td>
                        <td>{% render_field house_search_form.house_name_search_field class="form-control"%}</td>
                        <td>{% render_field house_search_form.house_address_search_field class="form-control" %}</td>
                        <td></td> {% endcomment %}
                    </tr>
                {% for meter in meters %}
                    <tr data-href="{% url 'myhouse_admin:meter_reading_detail' meter.pk %}?flat_id={{meter.flat.pk}}&service_id={{meter.service.pk}}">
                        <td>{{meter.number}}</td>
                        <td>
                            {% if meter.status == '1' %}
                                <span class="badge badge-warning">
                            {% elif meter.status == '4' %}
                                <span class="badge badge-primary">
                            {% elif meter.status == '2' or meter.status == '3' %}
                                <span class="badge badge-success">
                            {% endif %}
                            {{ meter.get_status_display }}</span>
                        </td>
                        <td>{{meter.reading_date|date:"d.m.Y"}}</td>
                        <td>{{meter.reading_date|date:"F Y"}}</td>
                        <td>{{meter.flat.floor.section.house}}</td>
                        <td>{{meter.flat.floor.section}}</td>
                        <td>{{meter.flat.number}}</td>
                        <td>{{meter.service.name}}</td>
                        <td>{{meter.testimony|stringformat:".1f"}}</td>
                        <td>{{meter.service.unit.name}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'myhouse_admin:meter_reading_update' meter.pk %}" class="btn btn-default" title="Редактировать">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <button type="button" title="Удалить" class="btn btn-default delete-meter-button" delete-url="{% url 'myhouse_admin:meter_reading_delete' meter.pk %}"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="11">Показаний счетчиков не обнаружено</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'js/admin/meters/meter_reading_list.js' %}" type="module"></script>
{% endblock extra_js %}