{% extends base_layout %}

{% load static widget_tweaks %}

{% block title %}Сообщения{% endblock title %}

{% block messages %}bg-light{% endblock messages %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<section class="content-header d-flex justify-content-between">
    <h1>Сообщения</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Сообщения</li>
        </ol>
    </nav>
</section>
<div class="dropdown-divider"></div>
<div class="content">
    <div class="row d-flex justify-content-end my-3 mr-3">
        <a href="{% url 'myhouse_admin:message_create' %}" class="btn btn-success">Отправить сообщение</a>
    </div>
    <div class="card mx-2">
        <div class="card-body table-responsive p-0">
            {% csrf_token %}
            <div class="row d-flex">
                <div class="icheck-primary ml-5">
                    <input type="checkbox" id='id_selection_all' name='selection_all' value="1">
                    <label for="id_selection_all" class="mt-2"></label>
                </div>
                <button type="button" id="id_delete_many" class="btn btn-default mt-2" title="Удалить выбранные" delete-url="{% url 'myhouse_admin:message_delete_many' %}"><i class="fa fa-trash"></i></button>
            </div>
            <table class="table table-striped mx-2" id="id_message_table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Получатели</th>
                        <th>Текст</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr data-href="{% url 'myhouse_admin:message_detail' message.pk %}">
                        <td>
                            <div class="icheck-primary">
                                <input type="checkbox" name='message_check' value="{{message.pk}}" id="id_check_{{forloop.counter}}">
                                <label for="id_check_{{forloop.counter}}"></label>
                            </div>
                        </td>
                        <td>{{message.recipients_to_str}}</td>
                        <td>{{message.body|safe}}</td>
                        <td>{{message.send_date|date:"d.m.Y - H:i"}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/admin/messages/message_list.js' %}" type="module"></script>
{% endblock extra_js %}