{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Новое сообщение{% endblock title %}

{% block messages %}bg-light{% endblock messages %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<div class="container-fluid">
    <section class="content-header d-flex justify-content-between">
        <h1>Новое сообщение</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:message_list' %}" class="text-dark">Сообщения</a></li>
                <li class="breadcrumb-item active" aria-current="page">Новое сообщение</li>
            </ol>
        </nav>
    </section>
    <div class="dropdown-divider"></div>
    {% include 'messages/message_form.html' %}
    
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
    <script src="{% static 'js/admin/messages/message_create_update.js' %}" type="module"></script>
{% endblock extra_js %}