{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Новая квитанция{% endblock title %}

{% block receipts %}bg-light{% endblock receipts %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<div class="container-fluid">
    <section class="content-header d-flex justify-content-between">
        <h1>Новая квитанция</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:receipt_list' %}" class="text-dark">Квитанции</a></li>
                <li class="breadcrumb-item active" aria-current="page">Новая квитанция</li>
            </ol>
        </nav>
    </section>
    <div class="dropdown-divider"></div>
    {% include 'receipts/receipt_form.html' %}
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="ml-2">Показания счетчиков</h5>
        </div>
        <div class="card-body p-0">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Дата</th>
                        <th>Месяц</th>
                        <th>Дом</th>
                        <th>Секция</th>
                        <th>№ квартиры</th>
                        <th>Счетчик</th>
                        <th>Показания</th>
                        <th>Ед. изм.</th>
                    </tr>
                </thead>
                <tbody id="id_meters_body">
                {% for meter in meters %}
                    <tr>
                        <td>{{meter.number}}</td>
                        <td>
                            {% if meter.status == '1' %}
                                <span class="badge badge-warning">
                            {% elif meter.status == '4' %}
                                <span class="badge badge-primary">
                            {% elif meter.status == '2' or meter.status == '3' %}
                                <span class="badge badge-success">
                            {% endif %}
                            {{ meter.get_status_display }}</span>
                        </td>
                        <td>{{meter.reading_date|date:"d.m.Y"}}</td>
                        <td>{{meter.reading_date|date:"F Y"}}</td>
                        <td>{{meter.flat.floor.section.house}}</td>
                        <td>{{meter.flat.floor.section}}</td>
                        <td>{{meter.flat.number}}</td>
                        <td>{{meter.service.name}}</td>
                        <td>{{meter.testimony|stringformat:".1f"}}</td>
                        <td>{{meter.service.unit.name}}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="10">Показаний счетчиков не обнаружено</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'js/admin/receipts/receipts_create_update.js' %}" type="module"></script>
{% endblock extra_js %}