{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Квитанция{% endblock title %}

{% block receipts %}bg-light{% endblock receipts %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<div class="container-fluid">
    <section class="content-header d-flex justify-content-between">
        <h1>Квитанция</h1>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:receipt_list' %}" class="text-dark">Квитанции</a></li>
                <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:receipt_detail' form.instance.pk %}" class="text-dark">Квитанция №{{form.instance.number}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
            </ol>
        </nav>
    </section>
    <div class="dropdown-divider"></div>
    {% include 'receipts/receipt_form.html' %}
    <div class="card mt-3">
        <div class="card-header">
            <h5 class="ml-2">Показания счетчиков</h5>
        </div>
        <div class="card-body p-0">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Дата</th>
                        <th>Месяц</th>
                        <th>Дом</th>
                        <th>Секция</th>
                        <th>№ квартиры</th>
                        <th>Счетчик</th>
                        <th>Показания</th>
                        <th>Ед. изм.</th>
                    </tr>
                </thead>
                <tbody id="id_meters_body">
                    {% include 'receipts/receipt_flat_meters.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'js/admin/receipts/receipts_create_update.js' %}" type="module"></script>
{% endblock extra_js %}