{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Квитанции на оплату{% endblock title %}

{% block receipts %}bg-light{% endblock receipts %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    
    <style>
    .ui-datepicker-calendar {
        display: none;
    }
    </style>
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock extra_css %}

{% block main_content %}
<section class="content-header d-flex justify-content-between">
    <h1 class="ml-2">Квитанции на оплату</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Квитанции на оплату</li>
        </ol>
    </nav>
</section>
<div class="dropdown-divider"></div>
<div class="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                {% include 'layout/cashbox_statistics.html' %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dropdown float-right mr-2">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выберите действие
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="{% url 'myhouse_admin:receipt_create' %}" class="dropdown-item">Создать общую квитанцию</a>
                    <button class="dropdown-item" id="id_delete_many" type="button" delete-url="{% url 'myhouse_admin:receipt_delete_many' %}">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mr-2 ml-2">
        <div class="card-header">
            <div class="row d-flex justify-content-end mr-3">
                <a href="{% url 'myhouse_admin:receipt_list' %}" class="btn btn-default">Очистить</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            {% csrf_token %}
            <table class="table table-bordered table-striped" id="id_receipts_table">
                <thead>
                    <tr>
                        <td>
                            <div class="icheck-primary">
                                <input type="checkbox" id='id_selection_all' name='selection_all' value="1">
                                <label for="id_selection_all"></label>
                            </div>
                        </td>
                        <th>№ квитанции</th>
                        <th>Статус</th>
                        <th>Дата</th>
                        <th>Месяц</th>
                        <th>Квартира</th>
                        <th>Владелец</th>
                        <th>Проведена</th>
                        <th>Сумма (грн)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <input type="text" value="{{start_date}} - {{end_date}}" class="form-control" id="reservation">
                        </th>
                        <th>
                            <div class="input-group date" id="id_monthPicker" data-target-input="nearest">
                                <div class="input-group-prepend" data-target="#id_monthPicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <input id="id_monthPicker_input" type="text" name="monthPicker" value="{{selected_month}}" class="form-control w-60 datetimepicker-input" data-target="#id_monthPicker">
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for receipt in receipts %}
                    <tr data-href="{% url 'myhouse_admin:receipt_detail' receipt.pk %}">
                        <td>
                            <div class="icheck-primary">
                                <input type="checkbox" name='receipts_check' value="{{receipt.pk}}" id="id_check_{{forloop.counter}}">
                                <label for="id_check_{{forloop.counter}}"></label>
                            </div>
                        </td>
                        <td>{{receipt.number}}</td>
                        {% if receipt.status == '3' %}
                            <td><span class="badge badge-success">{{ receipt.get_status_display }}</span></td>
                        {% elif receipt.status == '1' %}
                            <td><span class="badge badge-danger">{{ receipt.get_status_display }}</span></td>
                        {% elif receipt.status == '2' %}
                            <td><span class="badge badge-warning">{{ receipt.get_status_display }}</span></td>
                        {% endif %}
                        <td>{{receipt.creation_date|date:"d.m.Y"}}</td>
                        <td>{{receipt.creation_date|date:"F Y"}}</td>
                        <td>{{receipt.flat.to_string}}</td>
                        <td>{{receipt.flat.owner}}</td>
                        <td>
                            {% if receipt.is_made %}
                                Проведен
                            {% else %}
                                Не проведен
                            {% endif %}
                        </td>
                        <td>{{ receipt.summary|stringformat:".2f" }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'myhouse_admin:receipt_create' %}?invoice_id={{receipt.pk}}" title="Копировать" class="btn btn-default"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                </svg></a>
                                <a href="{% url 'myhouse_admin:receipt_update' receipt.pk %}" title="Редактировать" class="btn btn-default">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <button type="button" class="btn btn-default delete-receipt-button" title="Удалить" delete-url="{% url 'myhouse_admin:receipt_delete' receipt.pk %}"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/admin/receipts/receipt_list.js' %}" type="module"></script>
{% endblock extra_js %}