{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block title %}Лицевые счета{% endblock title %}

{% block personal_accounts %}bg-light{% endblock personal_accounts %}

{% block main_content %}
<section class="content-header d-flex justify-content-between">
    <h1>Лицевые счета</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'myhouse_admin:index' %}" class="text-dark"><i class="fa fa-home"></i> Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Лицевые счета</li>
        </ol>
    </nav>
</section>
<div class="dropdown-divider"></div>
<div class="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                {% include 'layout/cashbox_statistics.html' %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dropdown float-right mr-2">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выберите действие
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="{% url 'myhouse_admin:personal_account_create' %}" class="dropdown-item">Добавить лицевой счёт</a>
                    <a class="dropdown-item" href="#">Выгрузить в Excel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mr-2 ml-2">
        <div class="card-header">
            <div class="row d-flex justify-content-end mr-3">
                <a href="{% url 'myhouse_admin:personal_account_list' %}" class="btn btn-default">Очистить</a>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            {% csrf_token %}
            <table class="table table-bordered table-striped" id="id_pa_table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Квартира</th>
                        <th>Дом</th>
                        <th>Секция</th>
                        <th>Владелец</th>
                        <th>Остаток (грн)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for personal_account in personal_accounts %}
                    <tr data-href="{% url 'myhouse_admin:personal_account_detail' personal_account.pk %}">
                        <td>{{personal_account.uid}}</td>
                        <td>
                            {% if personal_account.status == '0' %}
                                <span class="badge badge-danger">{{personal_account.get_status_display}}</span>
                            {% elif personal_account.status == '1' %}
                                <span class="badge badge-success">{{personal_account.get_status_display}}</span>
                            {% endif %}
                        </td>
                        <td>{{personal_account.flat.number}}</td>
                        <td>{{personal_account.flat.floor.section.house}}</td>
                        <td>{{personal_account.flat.floor.section}}</td>
                        <td>{{personal_account.flat.owner}}</td>
                        <td>
                            {% if personal_account.flat is not None %}
                                {% if personal_account.flat.balance > 0 %}
                                    <span class="text-success">{{personal_account.flat.balance|stringformat:".2f"}}</span>
                                {% elif personal_account.flat.balance < 0 %}
                                    <span class="text-danger">{{personal_account.flat.balance|stringformat:".2f"}}</span>
                                {% else %}
                                    <span>{{personal_account.flat.balance|stringformat:".2f"}}</span>
                                {% endif %}
                            {% else %}
                                <span>0.00</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'myhouse_admin:personal_account_update' personal_account.pk %}" class="btn btn-default">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <button type="button" class="btn btn-default delete-personal_account-button" delete-url="{% url 'myhouse_admin:personal_account_delete' personal_account.pk %}"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="8">Лицевых счетов не обнаружено</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if personal_accounts %}
        <div class="card-footer">
            <div class="row"></div>
            <div class="row">
                Количество счетов: <span><strong>{{personal_accounts.count}}</strong></span>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main_content %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/admin/personal_accounts/personal_account_list.js' %}" type="module"></script>
{% endblock extra_js %}